@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageFromGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNamber">
        <_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component"
        >  
            <ChildContent>Render Fragment From Parent! WooHOO!</ChildContent>
            <DangerChildContent>Danger Content from Render Fragment! WooHOO!</DangerChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
<p><b>@messegeText</b></p>

<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>

<div class="row">
    <button class="btn btn-success" @onclick="()=>childComp.ToastrSuccess()">Show SweetAlert</button>
</div>


@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
    private _ChildComponent childComp;

    public string MessageFromGrandChild = "This messege is from your grand parent (ParentComponent)";
    public string LuckyNumber = "7";
    public string messegeText = "";

    private void ShowMessage()
    {
        messegeText = "Tangy button clicked from Child Component";
    }
}
